# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter build & tool artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
/build/
*.lock
.pub-cache/
.pub/
/coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Web related
lib/generated_plugin_registrant.dart

# Windows related
windows/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Linux related
linux/flutter/ephemeral/
**/linux/flutter/ephemeral/

# macOS related
macos/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Android related
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
**/android/.gradle/
android/app/build/
**/android/app/build/
android/local.properties
**/android/local.properties
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS related
ios/Pods/
**/ios/Pods/
ios/.symlinks/
**/ios/.symlinks/
ios/Flutter/ephemeral/
**/ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.swift
